
.fond_et_bord{
    background-color: white;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;

}

.centrer{
    display: flex;
    align-items: center;
    justify-content: center;
}



img{
    width: 39px;
    position: relative;
    top: 65px; left: 2px;
    overflow: hidden;
    border-radius: 8px;
}



.unBoutonMenu{
    position: relative;
    bottom: 60px;

    margin-left: 5px;
    margin-right: 5px;


}

.unBoutonMenu:hover{


}

h2{
    font-family: 'police_montserrat';
    color: #fc8a01;

    padding: 5px 10px 5px 40px;

    border: 2px solid #fdd601;
    border-radius: 10px;

    background-image: url("icones/trait_fond_icone.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    background-size: 68px;

    animation-duration: 0.4s;
    animation-name: glissementCacheTitre;

}

h2:hover, img:hover + h2{
    background-color : #fff8da;
    animation-duration: 0.4s;                           /*Durée de l'animation*/
    animation-name: glissementLibereTitre;              /*Active l'animation*/
    animation-fill-mode: forwards;                      /*Reste à l'affichage de la fin de l'anim*/

}

a:not(:hover){
    text-decoration: none; /* Virer le soulignage du lien*/
}

a:hover{
    text-decoration-color: #fc8a01;
}




@keyframes glissementLibereTitre {
    from {
        padding-left: 40px;
        padding-right: 10px;
    }

    to {
        padding-left: 43px;
        padding-right: 13px;
    }
}

@keyframes glissementCacheTitre {
    from {
        padding-left: 43px;
        padding-right: 13px;
    }

    to {
        padding-left: 40px;
        padding-right: 10px;

    }
}
