@media only screen and (min-width: 780px) {
    .fond_et_bord {
        background-color: white;
        height: 50px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px 5px 5px 5px;
        overflow: hidden;

    }

    .centrer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .hamburger-menu {
        display: none;
    }


}



img{
    width: 39px;
    position: absolute;
    left: 0;
    bottom: 0;

    overflow: hidden;
    border-radius: 8px;
    z-index: 1; /*L'img devant le titre h2*/
}

a{
    margin-left: 5px;
    margin-right: 5px;
}

.unBoutonMenu{
    position: relative;
    top: 4px;

    padding: 5px 10px 5px 40px;
    border: 2px solid #fdd601;
    border-radius: 10px;

    background-image: url("icones/trait_fond_icone.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    background-size: 68px;

    background-color: white;

    animation-duration: 0.4s;
    animation-name: glissementCacheTitre;
}

.unBoutonMenu:hover{


}

h2{
    position: relative;
    font-family: 'police_montserrat';
    color: #fc8a01;
    z-index: 0; /*L'img devant le titre h2*/


    display: inline; /*Supprime cette marge maudite causé par le h2*/


}

.unBoutonMenu:hover{
    background-color : #fff8da;
    animation-duration: 0.4s;                           /*Durée de l'animation*/
    animation-name: glissementLibereTitre;              /*Active l'animation*/
    animation-fill-mode: forwards;                      /*Reste à l'affichage de la fin de l'anim*/

}

a:not(:hover){
    text-decoration: none; /* Virer le soulignage du lien*/
}

a:hover{
    text-decoration-color: #fc8a01;
}




@keyframes glissementLibereTitre {
    from {
        padding-left: 40px;
        padding-right: 10px;
    }

    to {
        padding-left: 43px;
        padding-right: 13px;
    }
}

@keyframes glissementCacheTitre {
    from {
        padding-left: 43px;
        padding-right: 13px;
    }

    to {
        padding-left: 40px;
        padding-right: 10px;

    }
}


/* ======================= HAMBURGER ===================================== */



nav .hamburger-menu .slice {

    position: absolute;

    width: 100%;
    height: 4px;

    background: #000;
    border-radius: 4px;

    transition: all 0.5s ease-in-out;

}

nav .hamburger-menu .slice:nth-child(1) {

    top: 0px;

}
nav .hamburger-menu .slice:nth-child(2) {

    top: 15px;

}
nav .hamburger-menu .slice:nth-child(3) {

    top: 30px;

}

nav .hamburger-menu.active .slice:nth-child(1) {
    top: 12px;
    transform: rotate(135deg);

}
nav .hamburger-menu.active .slice:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px);

}
nav .hamburger-menu.active .slice:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg);

}

/* ======================================================================================== */
/*
@media only screen and (min-width: 780px) and (max-width: 850px){

    nav .hamburger-menu {
        display: none;

        position: absolute;
        top: 25px;
        right: 160px;

        padding-bottom: 40px;

        width: 40px;

        cursor: pointer;

        display: block;
        margin-left: 50%;
        margin-right: 50%;
    }
}
*/


@media only screen and (max-width: 780px) {

    nav .fond_et_bord {
        display: none;

        transition: 1s;
    }

    nav.active .fond_et_bord{
        position: relative;

        margin-left: 5px;

        display: block;

        transition: 0.5s;
    }

    .unBoutonMenu{
        justify-content: stretch;
        margin-bottom: -10px;
    }

    h2{
        width: 100%;
    }

    nav.active .centrer{
        display: block;
        align-content: start;
        animation-duration: 0.5s;                           /*Durée de l'animation*/
        animation-name: deroulementMenu;              /*Active l'animation*/
        animation-fill-mode: forwards;                      /*Reste à l'affichage de la fin de l'anim*/


    }

    nav.active .fond_et_bord{
        background: none;
        border: none;
    }

    #fermer_pop-up{
        right: 0px;
    }

    @keyframes deroulementMenu {
        from {
            position: relative;
            top: -200px;
        }

        to {
            position: relative;
            top: 50px;

        }
    }

}

@media only screen and (max-width: 780px) {
    nav .hamburger-menu {

        position: absolute;
        left: 15px; top: 25px;

        padding-bottom: 40px; /* Pour que la zone cliquable s'étend sur les 3 barres*/

        width: 40px;

        cursor: pointer;

        display: block;
;
    }
}