/*Mobile*/
@media only screen and (max-width: 650px) {
    #iframevideo{
        width: 280px;
        height: 158px;
    }

    #encartPortfolio{
        position: relative; top: -100px;
    }

    #centrerCandidature{
        position: relative;
        top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 650px) {
    #iframevideo{
        width: 560px;
        height: 315px;
    }

}

@media only screen and (max-width: 950px) and (min-width: 650px) {
    #encartPortfolio{
        position: relative; top: -80px;
    }
}

/*Ordinateur et plus grand*/
@media only screen and (min-width: 950px) {

    #encartPortfolio{
        position: relative; top: -50px;
    }
}

@media only screen and (min-width: 1900px) {

    #encartPortfolio{
        position: relative; top: -60px;
    }


}


#centrerCandidature{
    position: relative;
    display: flex;
    justify-content: center;

}

.contenuPageReadapter{
    padding-right: 20px;
}
#jsp{
    position: relative;
    display: flex;
    justify-content: center;
}

h2{
    font-family: police_montserrat;
}