
#fondPresentation {

    background-image: url("img/fond/fonduBlanc2.webp"), url("img/fond/banniere.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
}

#fondFormation {

    background-image: url("img/fond/fonduBlanca.webp"), url("img/fond/velizyiut.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    position: relative;
}

#fondCompetences {

    background-image: url("img/fond/fonduBlanca.webp"), url("img/fond/programmation.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%, cover;
    position: relative;
}

#fondLeSite {
}

@media only screen and (min-width: 781px) {
    body {
        background-color: #fc8a01;
    }

    #fondPresentation {
    }

    #fondFormation {


    }

    #fondCompetences {

    }

    #fondLeSite {


    }
}

@media only screen and (max-width: 781px) {
    body {
        background-color: #fc8a01;
    }

    #fondPresentation {
    }

    #fondFormation {
    }

    #fondCompetences {
    }

    #fondLeSite {
    }
}
