body{
    overflow: hidden;

}

.titre {

    width:100%;
    height: 20px;

    background-color:black; color: white;
    border-radius: 5px 5px 0 0;
    position: relative;
    top:-19px;
    right: 0px;

    font-family: 'police_montserrat';


}

h3{
    position: relative;
    top: -2px;
    display: flex;


    justify-content: center;

}
.zoneStatut {
    border: 2px solid black;
    border-radius: 10px;
    width: 265px;

    position: absolute;
    background-color: white;
    top: 1px;
    left: 0px;
}

.message {
    position: relative;
    bottom: 32px;
    font-family: 'police_arial';
    font-size: 14px;

    width: 250px;


    color: black;


    word-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media only screen and (max-height: 80px) {
    .zoneStatut { height: 60px; }
    .message{ height: 36px; }
}

@media only screen and (min-height: 81px) {
    .zoneStatut { height: max-content; }
    .message { margin-bottom: -28px; left: 9px;}
}