#fondArticlePresentation{
    background-image: url("../../../../mediasglobal/img/fond/fonduBlancaa.webp"), url("plateauDeJeuFOND.webp");
}

#fondArticleLancerJeu{
    background-image: url("../../../../mediasglobal/img/fond/fonduBlancaa.webp"), url("codeFOND.webp");
}

#fondArticleMoi{
    background-image: url("../../../../mediasglobal/img/fond/fonduBlancaa.webp"), url("../../../../mediasglobal/img/logoFOND.webp");
    background-position: bottom left;
    background-size: 200px 200px;
}